@media (max-width: 770px)   {
    #Memo{
        width: 100vw;
        height: 150px;
        margin-top: 20px;
    }
    #MemoBox1{
    padding-left: 60px;
    height: 80%;
    width: 700px;
    }
    #MemoBox2{
    display: flex;
    padding-left: 60px;
    height: 20%;
    width: 100%;
    }
    .WriteBox{
        border: 1px solid black;
        height: calc(100% - 20px);
        width: 600px;
        padding-top: 10px;
        padding-left: 10px;
    }
    #shareBtn{
    width: 610px;
    text-align: center;
    font-size: 20px;
    }
    #MemoNumber{
    display: none;
    width: 310px;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    }
    .memo{
        border: 1px solid black;
    }
}

@media (min-width: 770px)   {
    #Memo{
    width: 100vw;
    height: 150px;
    margin-top: 20px;
    }
    #MemoBox1{
    padding-left: 60px;
    height: 80%;
    }
    #MemoBox2{
    display: flex;
    padding-left: 60px;
    height: 20%;
    }
    .WriteBox{
        border: 1px solid black;
        height: calc(100% - 20px);
        width: calc( 80vw - 8px );
        padding-top: 10px;
        padding-left: 10px;
    }
    #shareBtn{
    width: calc(40vw - 20px);
    text-align: center;
    font-size: 20px;
    }
    #MemoNumber{
    width: calc(40vw - 20px);
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    }
    .memo{
        border: 1px solid black;
    }
}
